$diceSize: 50px;

.root {
  display: inline-block;
  width: $diceSize;
  height: $diceSize;
}

.selectionContainer {
  padding: 4px;
  display: flex;
}

.selected {
  border: 2px dashed white;
  border-radius: 4px;
  padding: 2px;
}

.diceValue0 {
  background-image: url("/static/none.png");
}
.diceValue1 {
  background-image: url("/static/one.png");
}
.diceValue2 {
  background-image: url("/static/two.png");
}
.diceValue3 {
  background-image: url("/static/three.png");
}
.diceValue4 {
  background-image: url("/static/four.png");
}
.diceValue5 {
  background-image: url("/static/five.png");
}
.diceValue6 {
  background-image: url("/static/six.png");
}

.diceValue {
  background-size: $diceSize $diceSize;
  background-repeat: no-repeat;
  height: $diceSize;
}
