.root {
    background-color: #ededed;
}

.list {

}

.messageBlock {
    list-style-type: none;
}

.messageUser {
    font-weight: bold;
    padding-right: 12px;
}

.messageContent {

}

.inputContainer {

}