.root {
    padding: 4px;
    background-color: #ffc3b0;
}

.diceContainer {
    padding: 4px;
    display: inline-block;    
}

.dice {
    display: inline-block;
}

.throwButton {
    display: inline-block;
}